web/WEB-INF/wsdl/localhost_8080/ServidorWeb/GestionCompetenciaWS.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://logicaServicios/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://logicaServicios/" name="GestionCompetenciaWS">
<types>
<xsd:schema>
<xsd:import namespace="http://logicaServicios/" schemaLocation="http://localhost:8080/ServidorWeb/GestionCompetenciaWS?xsd=1"/>
</xsd:schema>
</types>
<message name="eliminarCompetencia">
<part name="parameters" element="tns:eliminarCompetencia"/>
</message>
<message name="eliminarCompetenciaResponse">
<part name="parameters" element="tns:eliminarCompetenciaResponse"/>
</message>
<message name="editarCompetencia">
<part name="parameters" element="tns:editarCompetencia"/>
</message>
<message name="editarCompetenciaResponse">
<part name="parameters" element="tns:editarCompetenciaResponse"/>
</message>
<message name="consultarCompetencia">
<part name="parameters" element="tns:consultarCompetencia"/>
</message>
<message name="consultarCompetenciaResponse">
<part name="parameters" element="tns:consultarCompetenciaResponse"/>
</message>
<message name="crearCompetencia">
<part name="parameters" element="tns:crearCompetencia"/>
</message>
<message name="crearCompetenciaResponse">
<part name="parameters" element="tns:crearCompetenciaResponse"/>
</message>
<portType name="GestionCompetenciaWS">
<operation name="eliminarCompetencia">
<input wsam:Action="http://logicaServicios/GestionCompetenciaWS/eliminarCompetenciaRequest" message="tns:eliminarCompetencia"/>
<output wsam:Action="http://logicaServicios/GestionCompetenciaWS/eliminarCompetenciaResponse" message="tns:eliminarCompetenciaResponse"/>
</operation>
<operation name="editarCompetencia">
<input wsam:Action="http://logicaServicios/GestionCompetenciaWS/editarCompetenciaRequest" message="tns:editarCompetencia"/>
<output wsam:Action="http://logicaServicios/GestionCompetenciaWS/editarCompetenciaResponse" message="tns:editarCompetenciaResponse"/>
</operation>
<operation name="consultarCompetencia">
<input wsam:Action="http://logicaServicios/GestionCompetenciaWS/consultarCompetenciaRequest" message="tns:consultarCompetencia"/>
<output wsam:Action="http://logicaServicios/GestionCompetenciaWS/consultarCompetenciaResponse" message="tns:consultarCompetenciaResponse"/>
</operation>
<operation name="crearCompetencia">
<input wsam:Action="http://logicaServicios/GestionCompetenciaWS/crearCompetenciaRequest" message="tns:crearCompetencia"/>
<output wsam:Action="http://logicaServicios/GestionCompetenciaWS/crearCompetenciaResponse" message="tns:crearCompetenciaResponse"/>
</operation>
</portType>
<binding name="GestionCompetenciaWSPortBinding" type="tns:GestionCompetenciaWS">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="eliminarCompetencia">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="editarCompetencia">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="consultarCompetencia">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="crearCompetencia">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="GestionCompetenciaWS">
<port name="GestionCompetenciaWSPort" binding="tns:GestionCompetenciaWSPortBinding">
<soap:address location="http://localhost:8080/ServidorWeb/GestionCompetenciaWS"/>
</port>
</service>
</definitions>