web/WEB-INF/wsdl/localhost_8080/ServidorWeb/GestionIntegranteGrupoWS.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://logicaServicios/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://logicaServicios/" name="GestionIntegranteGrupoWS">
<types>
<xsd:schema>
<xsd:import namespace="http://logicaServicios/" schemaLocation="http://localhost:8080/ServidorWeb/GestionIntegranteGrupoWS?xsd=1"/>
</xsd:schema>
</types>
<message name="editarIntegranteGrupo">
<part name="parameters" element="tns:editarIntegranteGrupo"/>
</message>
<message name="editarIntegranteGrupoResponse">
<part name="parameters" element="tns:editarIntegranteGrupoResponse"/>
</message>
<message name="agregarIntegranteAGrupo">
<part name="parameters" element="tns:agregarIntegranteAGrupo"/>
</message>
<message name="agregarIntegranteAGrupoResponse">
<part name="parameters" element="tns:agregarIntegranteAGrupoResponse"/>
</message>
<message name="eliminarIntegranteGrupo">
<part name="parameters" element="tns:eliminarIntegranteGrupo"/>
</message>
<message name="eliminarIntegranteGrupoResponse">
<part name="parameters" element="tns:eliminarIntegranteGrupoResponse"/>
</message>
<message name="consultarIntegranteGrupo">
<part name="parameters" element="tns:consultarIntegranteGrupo"/>
</message>
<message name="consultarIntegranteGrupoResponse">
<part name="parameters" element="tns:consultarIntegranteGrupoResponse"/>
</message>
<message name="crearIntegranteGrupo">
<part name="parameters" element="tns:crearIntegranteGrupo"/>
</message>
<message name="crearIntegranteGrupoResponse">
<part name="parameters" element="tns:crearIntegranteGrupoResponse"/>
</message>
<message name="removerIntegranteDeGrupo">
<part name="parameters" element="tns:removerIntegranteDeGrupo"/>
</message>
<message name="removerIntegranteDeGrupoResponse">
<part name="parameters" element="tns:removerIntegranteDeGrupoResponse"/>
</message>
<portType name="GestionIntegranteGrupoWS">
<operation name="editarIntegranteGrupo">
<input wsam:Action="http://logicaServicios/GestionIntegranteGrupoWS/editarIntegranteGrupoRequest" message="tns:editarIntegranteGrupo"/>
<output wsam:Action="http://logicaServicios/GestionIntegranteGrupoWS/editarIntegranteGrupoResponse" message="tns:editarIntegranteGrupoResponse"/>
</operation>
<operation name="agregarIntegranteAGrupo">
<input wsam:Action="http://logicaServicios/GestionIntegranteGrupoWS/agregarIntegranteAGrupoRequest" message="tns:agregarIntegranteAGrupo"/>
<output wsam:Action="http://logicaServicios/GestionIntegranteGrupoWS/agregarIntegranteAGrupoResponse" message="tns:agregarIntegranteAGrupoResponse"/>
</operation>
<operation name="eliminarIntegranteGrupo">
<input wsam:Action="http://logicaServicios/GestionIntegranteGrupoWS/eliminarIntegranteGrupoRequest" message="tns:eliminarIntegranteGrupo"/>
<output wsam:Action="http://logicaServicios/GestionIntegranteGrupoWS/eliminarIntegranteGrupoResponse" message="tns:eliminarIntegranteGrupoResponse"/>
</operation>
<operation name="consultarIntegranteGrupo">
<input wsam:Action="http://logicaServicios/GestionIntegranteGrupoWS/consultarIntegranteGrupoRequest" message="tns:consultarIntegranteGrupo"/>
<output wsam:Action="http://logicaServicios/GestionIntegranteGrupoWS/consultarIntegranteGrupoResponse" message="tns:consultarIntegranteGrupoResponse"/>
</operation>
<operation name="crearIntegranteGrupo">
<input wsam:Action="http://logicaServicios/GestionIntegranteGrupoWS/crearIntegranteGrupoRequest" message="tns:crearIntegranteGrupo"/>
<output wsam:Action="http://logicaServicios/GestionIntegranteGrupoWS/crearIntegranteGrupoResponse" message="tns:crearIntegranteGrupoResponse"/>
</operation>
<operation name="removerIntegranteDeGrupo">
<input wsam:Action="http://logicaServicios/GestionIntegranteGrupoWS/removerIntegranteDeGrupoRequest" message="tns:removerIntegranteDeGrupo"/>
<output wsam:Action="http://logicaServicios/GestionIntegranteGrupoWS/removerIntegranteDeGrupoResponse" message="tns:removerIntegranteDeGrupoResponse"/>
</operation>
</portType>
<binding name="GestionIntegranteGrupoWSPortBinding" type="tns:GestionIntegranteGrupoWS">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="editarIntegranteGrupo">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="agregarIntegranteAGrupo">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="eliminarIntegranteGrupo">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="consultarIntegranteGrupo">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="crearIntegranteGrupo">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="removerIntegranteDeGrupo">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="GestionIntegranteGrupoWS">
<port name="GestionIntegranteGrupoWSPort" binding="tns:GestionIntegranteGrupoWSPortBinding">
<soap:address location="http://localhost:8080/ServidorWeb/GestionIntegranteGrupoWS"/>
</port>
</service>
</definitions>