web/WEB-INF/wsdl/localhost_8080/ServidorWeb/GestionEvaluadorWS.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://logicaServicios/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://logicaServicios/" name="GestionEvaluadorWS">
<types>
<xsd:schema>
<xsd:import namespace="http://logicaServicios/" schemaLocation="http://localhost:8080/ServidorWeb/GestionEvaluadorWS?xsd=1"/>
</xsd:schema>
</types>
<message name="consultarEvaluador">
<part name="parameters" element="tns:consultarEvaluador"/>
</message>
<message name="consultarEvaluadorResponse">
<part name="parameters" element="tns:consultarEvaluadorResponse"/>
</message>
<message name="eliminarEvaluador">
<part name="parameters" element="tns:eliminarEvaluador"/>
</message>
<message name="eliminarEvaluadorResponse">
<part name="parameters" element="tns:eliminarEvaluadorResponse"/>
</message>
<message name="editarEvaluador">
<part name="parameters" element="tns:editarEvaluador"/>
</message>
<message name="editarEvaluadorResponse">
<part name="parameters" element="tns:editarEvaluadorResponse"/>
</message>
<message name="crearEvaluador">
<part name="parameters" element="tns:crearEvaluador"/>
</message>
<message name="crearEvaluadorResponse">
<part name="parameters" element="tns:crearEvaluadorResponse"/>
</message>
<portType name="GestionEvaluadorWS">
<operation name="consultarEvaluador">
<input wsam:Action="http://logicaServicios/GestionEvaluadorWS/consultarEvaluadorRequest" message="tns:consultarEvaluador"/>
<output wsam:Action="http://logicaServicios/GestionEvaluadorWS/consultarEvaluadorResponse" message="tns:consultarEvaluadorResponse"/>
</operation>
<operation name="eliminarEvaluador">
<input wsam:Action="http://logicaServicios/GestionEvaluadorWS/eliminarEvaluadorRequest" message="tns:eliminarEvaluador"/>
<output wsam:Action="http://logicaServicios/GestionEvaluadorWS/eliminarEvaluadorResponse" message="tns:eliminarEvaluadorResponse"/>
</operation>
<operation name="editarEvaluador">
<input wsam:Action="http://logicaServicios/GestionEvaluadorWS/editarEvaluadorRequest" message="tns:editarEvaluador"/>
<output wsam:Action="http://logicaServicios/GestionEvaluadorWS/editarEvaluadorResponse" message="tns:editarEvaluadorResponse"/>
</operation>
<operation name="crearEvaluador">
<input wsam:Action="http://logicaServicios/GestionEvaluadorWS/crearEvaluadorRequest" message="tns:crearEvaluador"/>
<output wsam:Action="http://logicaServicios/GestionEvaluadorWS/crearEvaluadorResponse" message="tns:crearEvaluadorResponse"/>
</operation>
</portType>
<binding name="GestionEvaluadorWSPortBinding" type="tns:GestionEvaluadorWS">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="consultarEvaluador">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="eliminarEvaluador">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="editarEvaluador">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="crearEvaluador">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="GestionEvaluadorWS">
<port name="GestionEvaluadorWSPort" binding="tns:GestionEvaluadorWSPortBinding">
<soap:address location="http://localhost:8080/ServidorWeb/GestionEvaluadorWS"/>
</port>
</service>
</definitions>