src/conf/xml-resources/web-service-references/GestionActividadEvaluacionWS/wsdl/localhost_8080/ServidorWeb/GestionActividadEvaluacionWS.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.3 (tags/2.3-7528; 2013-04-29T19:34:10+0000) JAXWS-RI/2.2.8 JAXWS/2.2 svn-revision#unknown. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.3 (tags/2.3-7528; 2013-04-29T19:34:10+0000) JAXWS-RI/2.2.8 JAXWS/2.2 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://logicaServicios/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://logicaServicios/" name="GestionActividadEvaluacionWS">
<types>
<xsd:schema>
<xsd:import namespace="http://logicaServicios/" schemaLocation="http://localhost:8080/ServidorWeb/GestionActividadEvaluacionWS?xsd=1"/>
</xsd:schema>
</types>
<message name="editarActividadEvaluacion">
<part name="parameters" element="tns:editarActividadEvaluacion"/>
</message>
<message name="editarActividadEvaluacionResponse">
<part name="parameters" element="tns:editarActividadEvaluacionResponse"/>
</message>
<message name="crearActividadEvaluacion">
<part name="parameters" element="tns:crearActividadEvaluacion"/>
</message>
<message name="crearActividadEvaluacionResponse">
<part name="parameters" element="tns:crearActividadEvaluacionResponse"/>
</message>
<message name="eliminarActividadEvaluacion">
<part name="parameters" element="tns:eliminarActividadEvaluacion"/>
</message>
<message name="eliminarActividadEvaluacionResponse">
<part name="parameters" element="tns:eliminarActividadEvaluacionResponse"/>
</message>
<message name="consultarActividadEvaluacion">
<part name="parameters" element="tns:consultarActividadEvaluacion"/>
</message>
<message name="consultarActividadEvaluacionResponse">
<part name="parameters" element="tns:consultarActividadEvaluacionResponse"/>
</message>
<portType name="GestionActividadEvaluacionWS">
<operation name="editarActividadEvaluacion">
<input wsam:Action="http://logicaServicios/GestionActividadEvaluacionWS/editarActividadEvaluacionRequest" message="tns:editarActividadEvaluacion"/>
<output wsam:Action="http://logicaServicios/GestionActividadEvaluacionWS/editarActividadEvaluacionResponse" message="tns:editarActividadEvaluacionResponse"/>
</operation>
<operation name="crearActividadEvaluacion">
<input wsam:Action="http://logicaServicios/GestionActividadEvaluacionWS/crearActividadEvaluacionRequest" message="tns:crearActividadEvaluacion"/>
<output wsam:Action="http://logicaServicios/GestionActividadEvaluacionWS/crearActividadEvaluacionResponse" message="tns:crearActividadEvaluacionResponse"/>
</operation>
<operation name="eliminarActividadEvaluacion">
<input wsam:Action="http://logicaServicios/GestionActividadEvaluacionWS/eliminarActividadEvaluacionRequest" message="tns:eliminarActividadEvaluacion"/>
<output wsam:Action="http://logicaServicios/GestionActividadEvaluacionWS/eliminarActividadEvaluacionResponse" message="tns:eliminarActividadEvaluacionResponse"/>
</operation>
<operation name="consultarActividadEvaluacion">
<input wsam:Action="http://logicaServicios/GestionActividadEvaluacionWS/consultarActividadEvaluacionRequest" message="tns:consultarActividadEvaluacion"/>
<output wsam:Action="http://logicaServicios/GestionActividadEvaluacionWS/consultarActividadEvaluacionResponse" message="tns:consultarActividadEvaluacionResponse"/>
</operation>
</portType>
<binding name="GestionActividadEvaluacionWSPortBinding" type="tns:GestionActividadEvaluacionWS">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="editarActividadEvaluacion">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="crearActividadEvaluacion">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="eliminarActividadEvaluacion">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="consultarActividadEvaluacion">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="GestionActividadEvaluacionWS">
<port name="GestionActividadEvaluacionWSPort" binding="tns:GestionActividadEvaluacionWSPortBinding">
<soap:address location="http://localhost:8080/ServidorWeb/GestionActividadEvaluacionWS"/>
</port>
</service>
</definitions>