src/conf/xml-resources/web-service-references/GestionGrupoEvaluacionWS/wsdl/localhost_8080/ServidorWeb/GestionGrupoEvaluacionWS.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://logicaServicios/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://logicaServicios/" name="GestionGrupoEvaluacionWS">
<types>
<xsd:schema>
<xsd:import namespace="http://logicaServicios/" schemaLocation="http://localhost:8080/ServidorWeb/GestionGrupoEvaluacionWS?xsd=1"/>
</xsd:schema>
</types>
<message name="crearGrupoEvaluacion">
<part name="parameters" element="tns:crearGrupoEvaluacion"/>
</message>
<message name="crearGrupoEvaluacionResponse">
<part name="parameters" element="tns:crearGrupoEvaluacionResponse"/>
</message>
<message name="eliminarGrupoEvaluacion">
<part name="parameters" element="tns:eliminarGrupoEvaluacion"/>
</message>
<message name="eliminarGrupoEvaluacionResponse">
<part name="parameters" element="tns:eliminarGrupoEvaluacionResponse"/>
</message>
<message name="consultarGrupoEvaluacion">
<part name="parameters" element="tns:consultarGrupoEvaluacion"/>
</message>
<message name="consultarGrupoEvaluacionResponse">
<part name="parameters" element="tns:consultarGrupoEvaluacionResponse"/>
</message>
<message name="editarGrupoEvaluacion">
<part name="parameters" element="tns:editarGrupoEvaluacion"/>
</message>
<message name="editarGrupoEvaluacionResponse">
<part name="parameters" element="tns:editarGrupoEvaluacionResponse"/>
</message>
<message name="consultarIntegrantesAsignadosAGrupo">
<part name="parameters" element="tns:consultarIntegrantesAsignadosAGrupo"/>
</message>
<message name="consultarIntegrantesAsignadosAGrupoResponse">
<part name="parameters" element="tns:consultarIntegrantesAsignadosAGrupoResponse"/>
</message>
<message name="consultarCompetenciasDeUnGrupo">
<part name="parameters" element="tns:consultarCompetenciasDeUnGrupo"/>
</message>
<message name="consultarCompetenciasDeUnGrupoResponse">
<part name="parameters" element="tns:consultarCompetenciasDeUnGrupoResponse"/>
</message>
<message name="removerCompetenciaDeGrupo">
<part name="parameters" element="tns:removerCompetenciaDeGrupo"/>
</message>
<message name="removerCompetenciaDeGrupoResponse">
<part name="parameters" element="tns:removerCompetenciaDeGrupoResponse"/>
</message>
<message name="agregarCompetenciaAGrupo">
<part name="parameters" element="tns:agregarCompetenciaAGrupo"/>
</message>
<message name="agregarCompetenciaAGrupoResponse">
<part name="parameters" element="tns:agregarCompetenciaAGrupoResponse"/>
</message>
<message name="consultarCompetenciasNoEstanEnGrupo">
<part name="parameters" element="tns:consultarCompetenciasNoEstanEnGrupo"/>
</message>
<message name="consultarCompetenciasNoEstanEnGrupoResponse">
<part name="parameters" element="tns:consultarCompetenciasNoEstanEnGrupoResponse"/>
</message>
<message name="consultarIntegrantesQueNoPertenecenAGrupo">
<part name="parameters" element="tns:consultarIntegrantesQueNoPertenecenAGrupo"/>
</message>
<message name="consultarIntegrantesQueNoPertenecenAGrupoResponse">
<part name="parameters" element="tns:consultarIntegrantesQueNoPertenecenAGrupoResponse"/>
</message>
<portType name="GestionGrupoEvaluacionWS">
<operation name="crearGrupoEvaluacion">
<input wsam:Action="http://logicaServicios/GestionGrupoEvaluacionWS/crearGrupoEvaluacionRequest" message="tns:crearGrupoEvaluacion"/>
<output wsam:Action="http://logicaServicios/GestionGrupoEvaluacionWS/crearGrupoEvaluacionResponse" message="tns:crearGrupoEvaluacionResponse"/>
</operation>
<operation name="eliminarGrupoEvaluacion">
<input wsam:Action="http://logicaServicios/GestionGrupoEvaluacionWS/eliminarGrupoEvaluacionRequest" message="tns:eliminarGrupoEvaluacion"/>
<output wsam:Action="http://logicaServicios/GestionGrupoEvaluacionWS/eliminarGrupoEvaluacionResponse" message="tns:eliminarGrupoEvaluacionResponse"/>
</operation>
<operation name="consultarGrupoEvaluacion">
<input wsam:Action="http://logicaServicios/GestionGrupoEvaluacionWS/consultarGrupoEvaluacionRequest" message="tns:consultarGrupoEvaluacion"/>
<output wsam:Action="http://logicaServicios/GestionGrupoEvaluacionWS/consultarGrupoEvaluacionResponse" message="tns:consultarGrupoEvaluacionResponse"/>
</operation>
<operation name="editarGrupoEvaluacion">
<input wsam:Action="http://logicaServicios/GestionGrupoEvaluacionWS/editarGrupoEvaluacionRequest" message="tns:editarGrupoEvaluacion"/>
<output wsam:Action="http://logicaServicios/GestionGrupoEvaluacionWS/editarGrupoEvaluacionResponse" message="tns:editarGrupoEvaluacionResponse"/>
</operation>
<operation name="consultarIntegrantesAsignadosAGrupo">
<input wsam:Action="http://logicaServicios/GestionGrupoEvaluacionWS/consultarIntegrantesAsignadosAGrupoRequest" message="tns:consultarIntegrantesAsignadosAGrupo"/>
<output wsam:Action="http://logicaServicios/GestionGrupoEvaluacionWS/consultarIntegrantesAsignadosAGrupoResponse" message="tns:consultarIntegrantesAsignadosAGrupoResponse"/>
</operation>
<operation name="consultarCompetenciasDeUnGrupo">
<input wsam:Action="http://logicaServicios/GestionGrupoEvaluacionWS/consultarCompetenciasDeUnGrupoRequest" message="tns:consultarCompetenciasDeUnGrupo"/>
<output wsam:Action="http://logicaServicios/GestionGrupoEvaluacionWS/consultarCompetenciasDeUnGrupoResponse" message="tns:consultarCompetenciasDeUnGrupoResponse"/>
</operation>
<operation name="removerCompetenciaDeGrupo">
<input wsam:Action="http://logicaServicios/GestionGrupoEvaluacionWS/removerCompetenciaDeGrupoRequest" message="tns:removerCompetenciaDeGrupo"/>
<output wsam:Action="http://logicaServicios/GestionGrupoEvaluacionWS/removerCompetenciaDeGrupoResponse" message="tns:removerCompetenciaDeGrupoResponse"/>
</operation>
<operation name="agregarCompetenciaAGrupo">
<input wsam:Action="http://logicaServicios/GestionGrupoEvaluacionWS/agregarCompetenciaAGrupoRequest" message="tns:agregarCompetenciaAGrupo"/>
<output wsam:Action="http://logicaServicios/GestionGrupoEvaluacionWS/agregarCompetenciaAGrupoResponse" message="tns:agregarCompetenciaAGrupoResponse"/>
</operation>
<operation name="consultarCompetenciasNoEstanEnGrupo">
<input wsam:Action="http://logicaServicios/GestionGrupoEvaluacionWS/consultarCompetenciasNoEstanEnGrupoRequest" message="tns:consultarCompetenciasNoEstanEnGrupo"/>
<output wsam:Action="http://logicaServicios/GestionGrupoEvaluacionWS/consultarCompetenciasNoEstanEnGrupoResponse" message="tns:consultarCompetenciasNoEstanEnGrupoResponse"/>
</operation>
<operation name="consultarIntegrantesQueNoPertenecenAGrupo">
<input wsam:Action="http://logicaServicios/GestionGrupoEvaluacionWS/consultarIntegrantesQueNoPertenecenAGrupoRequest" message="tns:consultarIntegrantesQueNoPertenecenAGrupo"/>
<output wsam:Action="http://logicaServicios/GestionGrupoEvaluacionWS/consultarIntegrantesQueNoPertenecenAGrupoResponse" message="tns:consultarIntegrantesQueNoPertenecenAGrupoResponse"/>
</operation>
</portType>
<binding name="GestionGrupoEvaluacionWSPortBinding" type="tns:GestionGrupoEvaluacionWS">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="crearGrupoEvaluacion">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="eliminarGrupoEvaluacion">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="consultarGrupoEvaluacion">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="editarGrupoEvaluacion">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="consultarIntegrantesAsignadosAGrupo">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="consultarCompetenciasDeUnGrupo">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="removerCompetenciaDeGrupo">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="agregarCompetenciaAGrupo">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="consultarCompetenciasNoEstanEnGrupo">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="consultarIntegrantesQueNoPertenecenAGrupo">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="GestionGrupoEvaluacionWS">
<port name="GestionGrupoEvaluacionWSPort" binding="tns:GestionGrupoEvaluacionWSPortBinding">
<soap:address location="http://localhost:8080/ServidorWeb/GestionGrupoEvaluacionWS"/>
</port>
</service>
</definitions>